
<div class="row">

    <div class="  col-xs-12 form-group">
        <label>Name :</label>
        <input class="form-control" ng-model="Obj.Name">
    </div>


    <div class=" col-xs-12 form-group">
        <label>Price</label>
        <input class="form-control" ng-model="Obj.Price">
    </div>
</div>

<div class="box-footer" align="center">
    <a class="btn  btn-success btn-flat " ng-click="save()" style="width:100px">Save</a>
    <a class="btn btn-danger btn-flat " style="width:100px" ng-href="#/product">Cancel</a>
</div>

